<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Edit password</title>
</head>
<body>
  <div>
  		<form id="edit_password" name="edit_password" action = "{{url}}" method="POST">
			<input type="password" placeholder="new password" id="new_password" name="new_password"/>
<!-- 			<input type="password" placeholder="repeat new password" id="repeat_new_password" name="repeat_new_password"/> -->
			<!-- <button onclick="change();">Change Password</button> -->
      <button>Change Password</button>
		</form>
  	</div>
  	<!-- <script type="text/javascript">
  		function change() {
  			if (document.getElementById("new_password").value != document.getElementById("repeat_new_password").value){
  				alert("Mat khau khong khop");
  			}else{
  				document.getElementById("edit_password").submit();
  			}
  		}
  	</script> -->
</body>
</html>