<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forgot password</title>
	<script src="https://sdk.accountkit.com/en_US/sdk.js"></script>	
</head>
<body>		  		

	<div>
		<!-- sellect sms or email and goto account kit login-->
		<input value="+1" id="country_code" />
		<input placeholder="phone number" id="phone_number"/>
		<button onclick="loginWithSMS();">Login via SMS</button>
		<div>OR</div>
		<input placeholder="email" id="email"/>
		<button onclick="loginWithEmail();">Login via Email</button>
	</div>

	<form id="form" name="form" action="/forgot_password" method="POST" style="display: none;">
		<input type="text" id="code" name="code">
		<input type="text" id="csrf" name="csrf">
	</form>

	<script>
		// initialize Account Kit with CSRF protection
	  	AccountKit_OnInteractive = function(){
		  	console.log("{{csrf}}");
		    AccountKit.init(
		      	{
					appId: "{{app_id}}", 
			        state: "{{csrf}}", 
			        version:"{{version}}",
			        display: "modal",
			        fbAppEventsEnabled: true
		      	}
		    );
		};

	  	function loginCallback(response) {
	  		console.log(response.status);
	    	if (response.status === "PARTIALLY_AUTHENTICATED") {
	      		document.getElementById("code").value = response.code;
	     		document.getElementById("csrf").value = response.state;
	      		document.getElementById("form").submit();
	    	}
	    	else if (response.status === "NOT_AUTHENTICATED") {
		      	// handle authentication failure
			   	console.log("NOT_AUTHENTICATED");
		    }
		    else if (response.status === "BAD_PARAMS") {
		      	// handle bad parameters
			  	console.log("BAD_PARAMS");
		    }
		}

		function loginWithSMS(){
		  	var countryCode = document.getElementById("country_code").value;
    		var phoneNumber = document.getElementById("phone_number").value;

		    AccountKit.login(
		      	'PHONE', 
		      	{countryCode: countryCode, phoneNumber: phoneNumber},
		      	// will use default values if not specified
		      	loginCallback
		    );
		}

		function loginWithEmail(){
		  	var emailAddress = document.getElementById("email").value;
    		AccountKit.login(
      			'EMAIL',
      			{emailAddress: emailAddress},
      			loginCallback
    		);
  		}
	</script>
</body>
</html>